on:
  push:

jobs:
  build:
    name: build rust
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: macos-latest
            target: aarch64-apple-darwin

    steps:
    - uses: actions/checkout@v4
    - name: rust release binary
      uses: rust-build/rust-build.action@v1.4.5
      with:
        RUSTTARGET: ${{ matrix.target }}
    
